.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'logo title menu';
  align-items: center;
  background-color: var(--primary-light);
  max-height: 5rem;
}

.logo {
  grid-area: logo;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  -webkit-app-region: drag;
}

.logo img:hover {
  cursor: grab;
}

.title {
  grid-area: title;
  font-weight: bold;
  color: var(--primary-dark);
  line-height: 4rem;
  margin: 0.5rem;
  white-space: nowrap;
}

.menu {
  border: none;
  background-color: transparent;
  grid-area: menu;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}
