:root {
  --primary-light: #fff;
  --primary-dark: #333;
  --brand-color: #00b1e7;
}

#root {
  height: 100%;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./fonts/AvenirNextLTW01-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-next';
  src: url('./fonts/AvenirNextLTW01-Demi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'avenir-next', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
